@media  screen and (max-width: 580px) {
    .leftSide {
      width: 100%;
      height: 400px;
    }

   .rightSide{
    margin-right: 410px;
    width: auto;
   }
  
  .back{
    margin-top: 30px;
   margin-left: -20px;
   
  
  }
  .cvv{
  margin-bottom: -320px;
  padding-right: 120px;
  }
  
  
}

.leftSide {
  position: relative;
 
}

.rightSide {
  position: relative;
  
}
